<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">recTV Recommendations</a>
    <form id="search-media" method="POST">
        <label for="searchbar">Search</label>
        <input
            id="search-bar"
            name="searchbar"
            type="search"
            required
        />
        <button id="search-tv" type="submit" class="btn btn-primary">Search TV</button>
        <button id="search-movie" type="submit" class="btn btn-secondary">Search Movies</button>
    </form>
  </div>
</nav>
