<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title>Movie Search - recTV</title>
    </head>
    <body>
        <header>
            <h1>Search Results - Movie Page</h1>
        </header>
        <main>
            <% movies.data.results.forEach(function(movie) { %>
            <p><%= movie.original_title %></p>
            <% }); %>
        </main>
        <footer><%- include('../../partials/footer') %></footer>
    </body>
</html>
