<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Page Not Found - recTV</title>
    </head>
    <body>
        <header>
            <h1>recTV Page Not Found</h1>
        </header>

        <p>This page does not exist</p>
        <%- include('../partials/footer') %>
    </body>
</html>
