<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>recTV Recommendations</title>
  </head>

  <body>
    <header><%- include('../partials/navbar') %></header>

    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">A Movie/TV show Recommendation Platform</h1>
            <p class="lead text-muted">
              Welcome to recTV, a show and movie recommendation app that shows
              you what you wish to watch based not only on content you like but
              also dislike.
            </p>
            <p>
              <a href="https://www.section.io/kubernetes-edge-interface/" class="btn btn-primary my-2">Hosted on Section Kubernetes Edge Interface</a>
            </p>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <h4 style="text-align: center;">Developers</h4>
          <div class="row row-cols-1 row-cols-sm-6 row-cols-md-3 g-7">
            <div class="col">
              <div class="card shadow-sm">
                <img
                  alt="michael-barasa"
                  src="https://www.section.io/engineering-education/authors/michael-barasa/avatar_hu8cc51626eca608c713061f00a9cb7b33_135229_400x0_resize_box_2.png"
                  class="bd-placeholder-img card-img-top"
                  width="90%"
                  height="225"
                />

                <div class="card-body">
                  <h5><a href="https://github.com/WanjaMIKE">Michael Barasa</a></h5>
                  <p class="card-text">
                    A lover of technology. An upright individual not afraid of
                    getting out of the comfort zone and trying out new things.
                  </p>
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="card shadow-sm">
                <img
                  alt="louise-findlay"
                  src="https://www.section.io/engineering-education/authors/louise-findlay/avatar_hu0e26a814506e92bbf1c1f8675185a4a4_109613_400x0_resize_q75_box.jpeg"
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                />

                <div class="card-body">
                  <h5><a href="https://github.com/louisefindlay23">Louise Findlay</a></h5>
                  <p class="card-text">
                    Louise Findlay is a web developer and founder of Spyrath
                    Dev. An RGU graduate, she’s worked on many web projects from
                    the custom designed WordPress sites she specialises in to
                    fully-fledged custom developed Node.js web apps. Always keen
                    to continue learning, she’s participated in the MLH
                    Pre-Fellowship and WorldSkills Advanced Web Design Heat.
                  </p>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="card shadow-sm">
                <img
                  alt="briana-nzivu"
                  src="https://www.section.io/engineering-education/authors/briana-nzivu/avatar_hu94a67e3083c04ab492436dd26ce052a3_281022_400x0_resize_q75_box.jpg"
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                />

                <div class="card-body">
                  <h5><a href="https://github.com/BrianaNzivu">Briana Nzivu</a></h5>
                  <p class="card-text">
                    Briana is an undergraduate student pursuing an undergraduate
                    degree in Software Engineering at United States
                    International University - Africa. Briana loves developing
                    mobile applications, technical writing, and following up on
                    UI/UX trends. She enjoys traveling and gardening.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <footer><%- include('../partials/footer') %></footer>
</html>
