<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>recTV Recommendations</title>
    </head>
    <body>
        <header>
            <h1>recTV Recommendations</h1>
        </header>

        <main>
            <p>
                Welcome to recTV, a show and movie recommendation app that shows
                you what you wish to watch based not only on content you like
                but also dislike.
            </p>
            <form id="search-media" method="POST">
                <label for="searchbar">Search</label>
                <input
                    id="search-bar"
                    name="searchbar"
                    type="search"
                    required
                />
                <button id="search-tv" type="submit">Search TV</button>
                <button id="search-movie" type="submit">Search Movies</button>
            </form>
        </main>
    </body>
    <footer><%- include('../partials/footer') %></footer>
</html>
