<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>recTV Recommendations</title>
  </head>

  <body>
    <header><%- include('../partials/navbar') %></header>

    <main>
      <div>
        <br>
        <br>
        <br>
      <p class="lead text-center mt-80">
        Welcome to recTV, a show and movie recommendation app that shows you
        what you wish to watch based not only on content you like but also
        dislike.
      </p>
    </div>
    
    </main>
  </body>
  <footer><%- include('../partials/footer') %></footer>
</html>
